@charset "UTF-8";

/*
    id = #
    class = .
*/

body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal {
    text-align: center;
}

h1 {
    color: green;
}

h2 {
    color: green;
}